<p><%= link_to portfolio.title, my_portfolio_show_path(portfolio) %></p>
	<p><%= portfolio.subtitle %></p>
	<p><%= portfolio.body %></p>
	<%= image_tag portfolio.thumb_image if !portfolio.thumb_image.nil?%>
	<%= link_to "Edit", edit_my_portfolio_path(portfolio) %>
	<%= link_to 'Delete', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>